html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
  font-family: Helvetica;
}

/* custom properties */

:root {
  --heading-align: center;
  --heading-align-mobile: left;
  --color-bg: #fff;
  --color-theme: #00b1d1;
  --color-theme-light: #0094af;
  --color-theme-dark: #005b6b;
  --color-highlight: #a9e6f2;
}

/* main page */

.app-title {
  display: block;
  padding: 10px 0;
  background: var(--color-theme-dark);
  text-align: var(--heading-align);
}
.app-title a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
.app-title h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  color: var(--color-bg);
}
.app-title-logo {
  height: 50px;
  margin-top: 15px;
}
@media (max-width: 600px) {
  .app-title h1 {
    font-size: 35px;
    text-align: var(--heading-align-mobile);
    margin-left: 20px;
  }
  .app-title-logo {
    height: 38px;
  }
} 

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
  transition: background-color 1s ease;
}
.bookshelf:hover {
  background-color: #efe;
}
@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
  color: var(--color-theme-dark);
  text-align: var(--heading-align);
  letter-spacing: 2px;
}
@media screen and (max-width: 600px) {
  .bookshelf-title {
    text-align: var(--heading-align-mobile);
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.bookshelf-empty {
  color: gray;
  width: 100%;
  height: 100px;
  padding-top: 36px;
}

.bookshelf-books {
  text-align: var(--heading-align);
}

.open-search {
  position: fixed;
  right: 20px;
  top: 20px;
}
.open-search a {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var(--color-theme-light);
  background-image: url('./icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}
@media screen and (min-width: 790px) {
  .open-search-text {
    color: var(--color-bg);
    margin-left: -80px;
    line-height: 3.5em;
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .open-search {
    right: 18px;
    top: 18px;
  }
  .open-search a {
    width: 45px;
    height: 45px;
  }
}

/* search page */

.search-books-bar {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 54px;
  background: var(--color-bg);
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  background-color: var(--color-theme-light);
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: var(--heading-align);
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .books-grid {
    justify-content: var(--heading-align-mobile);
  }
}

.book {
  width: 140px;
}
@media screen and (max-width: 600px) {
  .book {
    width: 94px;
  }
}
.book-cover-highlight {
  border: 3px solid var(--color-highlight);
  border-radius: 5px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}
@media screen and (max-width: 600px) {
  .book-authors {
    display: none;
  }
  .book-title {
    text-align: center;
    font-size: 0.7em;
  }
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 600px) {
  .book-top {
    height: 130px;
  }
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-theme-light);
  background-image: url('./icons/shelf.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all .2s ease-in-out;
}
.book-shelf-changer:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 600px) {
  .book-shelf-changer {
    right: -10px;
    bottom: -4px;
    width: 45px;
    height: 45px;
  }
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0, 0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
  background-size: 100% 100%;
  width: 128px;
  height: 180px;
  transition: all .4s ease-in-out;
}
.book-cover:hover {
  transform: scale(1.04);
}
@media screen and (max-width: 600px) {
  .book-cover {
    margin-left: 6px;
    width: 92px;
    height: 129px;
  }
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}